.main {
  @include responsive-background-image('img/landing-page-banner.jpg');
  height: 1000px;
  color: $white;
}

.title {
  font-size: 52px;
  font-weight: 500;
}

.statistic {
  font-size: 32px;
  font-weight: 500;
}

.statistic-info {
  font-size: 20px;
}
