.idea/
.github/
.vscode
.eslintcache
*.log
node_modules/
coverage/
dist/
lib/
config/env
config/jest
config/mocks
config/ssl
packages/blockchain-info-components/lib
packages/blockchain-info-components/node_modules
packages/blockchain-info-components/storybook-static
packages/blockchain-wallet-v4/lib
packages/blockchain-wallet-v4/node_modules
packages/blockchain-wallet-v4-frontend/build
packages/blockchain-wallet-v4-frontend/dist
packages/blockchain-wallet-v4-frontend/node_modules
