{
  "extends": ["eslint-config-constellation"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-empty-interface": "warn",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "warn",
    "array-callback-return": "warn",
    "block-scoped-var": "warn",
    "class-methods-use-this": "warn",
    "consistent-return": "warn",
    "default-case": "warn",
    "func-names": "warn",
    "global-require": "warn",
    "guard-for-in": "warn",
    "import/no-extraneous-dependencies": "warn",
    "import/no-named-as-default": "warn",
    "import/no-unresolved": "warn",
    "import/prefer-default-export": "warn",
    "jest/no-done-callback": "warn",
    "jest/no-export": "warn",
    "jest/no-mocks-import": "warn",
    "jest/valid-title": "warn",
    "jsx-a11y/accessible-emoji": "warn",
    "jsx-a11y/alt-text": "warn",
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "jsx-a11y/mouse-events-have-key-events": "warn",
    "jsx-a11y/no-noninteractive-tabindex": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "no-bitwise": "warn",
    "no-done-callback": "off",
    "no-empty": "warn",
    "no-lonely-if": "warn",
    "no-multi-assign": "warn",
    "no-nested-ternary": "warn",
    "no-param-reassign": "warn",
    "no-plusplus": "warn",
    "no-restricted-globals": "warn",
    "no-restricted-properties": "off",
    "no-restricted-syntax": "warn",
    "no-return-assign": "warn",
    "no-shadow": "warn",
    "no-unused-expressions": "warn",
    "no-useless-catch": "warn",
    "no-useless-concat": "warn",
    "no-var": "warn",
    "no-void": "warn",
    "prefer-const": "warn",
    "prefer-rest-params": "warn",
    "radix": "warn",
    "react/default-props-match-prop-types": "warn",
    "react/forbid-prop-types": "warn",
    "react/jsx-key": "warn",
    "react/jsx-no-bind": "warn",
    "react/no-access-state-in-setstate": "warn",
    "react/no-array-index-key": "warn",
    "react/no-children-prop": "warn",
    "react/no-find-dom-node": "warn",
    "react/no-string-refs": "warn",
    "react/no-unescaped-entities": "warn",
    "react/no-unused-prop-types": "warn",
    "react/no-unused-state": "warn",
    "react/prefer-stateless-function": "warn",
    "react/sort-comp": "warn",
    "react/state-in-constructor": "warn",
    "react/static-property-placement": "warn",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^react", "^@?\\w"],
          [
            "^(blockchain-wallet-v4|blockchain-info-components|components|coins|core|data|layouts|providers|services|utils)(/.*|$)"
          ],
          ["^\\.", "^[^.]"]
        ]
      }
    ],
    "sort-keys": "warn",
    "vars-on-top": "warn"
  }
}
