*.log
lib
coverage
.idea/
node_modules
dist
build
.DS_Store
.idea/
.yarnclean
yarn-error.log
.vscode


packages/bcoin/node_modules/
packages/bcoin/docs/reference/
packages/bcoin/docker_data/
packages/bcoin/browser/bcoin*
packages/bcoin/npm-debug.log