
.wallet {
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(space-between);
  @include align-content(stretch);
  height: 100%;
  overflow: hidden;
}

.content {
  @include display-flex();
  @include flex-direction(row);
  @include justify-content(center);
  @include align-content(stretch);
  height: 100%;
}

.left {
  @include display-flex();
  width: 270px;
}

.right {
  @include display-flex();
  @include flex-direction(column);
  @include align-content(stretch);
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.page {
  overflow-y: auto;
}
