.wallet-layout {
  flex-grow: 1;
  height: 100%;
}

.header {
  display: flex;
  width: 100%;
  height: 55px;
}

.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 55px);
}

.menu-left {
  display: flex;
  width: 270px;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.menu-top {
  display: flex;
  width: 100%;
  height: 115px;
}

.page {
  display: flex;
  width: 100%;
  height: calc(100% - 115px);
  overflow-y: scroll;
}
