
.marker {
  position: absolute;
  left: -30px;
  top: -5px;
  width: 30px;
  height: 70px;
  color: #FFFFFF;

  &-circle {
    display: inline-block;
    position: relative;
    left: -15px;
    top: 5px;
    width: 30px;
    height: 30px;
    background-color: $blue;
    @include border-radius(100%);
    text-align: center;

    & .icon {
      position: relative;
      top: 2px;
      font-size: 16px;
    }

    &:after {
      content: '';
    }
  }
}
