
.activity-item {
  width: 100%;
}

.marker {
  display: block;
  width: 30px;
  height: 30px;
  color: #FFFFFF;
  border-left: black;

  i {
    position: relative;
    left: -15px;
    top: 2px;
    width: 30px;
    height: 30px;
    background-color: $blue;
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    @include border-radius(100%);
  }
  &:after {
    content: '';
  }
}
