.border-bottom { border-bottom: 1px solid $gray-lighter; }
.border-bottom-thick { border-bottom: 2px solid $gray-lighter; }
.border-right { border-right: 1px solid $gray-lighter; }
.border-right-thick { border-right: 2px solid $gray-lighter; }
.border-left { border-left: 1px solid $gray-lighter; }
.border-left-thick { border-left: 2px solid $gray-lighter; }
.border-top { border-top: 1px solid $gray-lighter; }
.border-top-thick { border-top: 2px solid $gray-lighter; }
.border { border: 1px solid $gray-lighter; }
.border-thick { border: 2px solid $gray-lighter; }
