%flex {
  @include display-flex();
}

.flex,
.flex-end,
.flex-between,
.flex-start,
.flex-column,
.flex-center,
.flex-justify,
.flex-align-start,
.flex-align-end,
.flex-baseline,
.flex-row,
.flex-wrap,
.flex-align-self-end,
.flex-column-reverse {
  @extend %flex;
}

.flex-grow {
  flex: 1;
}

.flex-around {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  @include justify-content(space-around);
}
.flex-between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  @include justify-content(space-between);
}
.flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  @include justify-content(flex-start);
}
.flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  @include justify-content(flex-end);
}
.flex-justify {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  @include justify-content(center);
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  @include flex-direction(row);
}
.flex-row-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  @include flex-direction(row-reverse);
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  @include flex-direction(column);
}
.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  @include flex-direction(column-reverse);
}

.flex-align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  @include align-items(flex-start);
}
.flex-align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  @include align-items(flex-end);
}
.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  @include align-items(center);
}
.flex-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  @include align-items(baseline);
}

.flex-wrap {
  @include flex-wrap(wrap)
}

.flex-align-self-end {
  -ms-flex-item-align: end;
  @include align-self(flex-end);
}

.inline-flex {
  @include display-inline-flex();
}

.flex-important {
  display: -webkit-box !important;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox !important;  /* TWEENER - IE 10 */
  display: -webkit-flex !important; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex !important;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.flex-0 {
  width: 100%;
  -ms-flex: 0 0 auto;
}

@for $i from 1 through 5 {
  .flex-#{$i} {
    flex: #{$i};
    -ms-flex: #{$i} #{$i} auto;
    -webkit-box-flex: #{$i};
    width: 100%;
  }
}

@for $i from 1 through 5 {
  .flex-#{$i}-0 {
    flex: #{$i} 0 auto;
    -ms-flex: #{$i} 0 auto;
    -webkit-box-flex: #{$i} 0 auto;
    width: 100%;
  }
}

// mobile flex support
@media (max-width: 991px) {
  .flex-start-tablet {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .flex-column-tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-between-tablet {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .flex-column-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-between-mobile {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  .flex-column-reverse-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .flex-center-mobile {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
  .flex-start-mobile {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }
}
