@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('/fonts/#{$font-filename}.eot');
    src: url('/fonts/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
    url('/fonts/#{$font-filename}.ttf') format('truetype'),
    url('/fonts/#{$font-filename}.svg') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}

//Icon Fonts
@include declare-font-face('icomoon', 'icomoon');

//Montserrat
@include declare-font-face('Montserrat', 'Montserrat-Thin', 100);
@include declare-font-face('Montserrat', 'Montserrat-ExtraLight', 200);
@include declare-font-face('Montserrat', 'Montserrat-Light', 300);
@include declare-font-face('Montserrat', 'Montserrat-Medium', 400);
@include declare-font-face('Montserrat', 'Montserrat-Regular', 500);
@include declare-font-face('Montserrat', 'Montserrat-SemiBold', 600);
@include declare-font-face('Montserrat', 'Montserrat-Bold', 700);
@include declare-font-face('Montserrat', 'Montserrat-ExtraBold', 800);
@include declare-font-face('Montserrat', 'Montserrat-Black', 900);

@include declare-font-face('GillSans', 'GillSans-Light', 200);
@include declare-font-face('GillSans', 'GillSans-Regular', 400);
@include declare-font-face('GillSans', 'GillSans-SemiBold', 500);
@include declare-font-face('GillSans', 'GillSans-Bold', 700);
@include declare-font-face('GillSans', 'GillSans-UltraBold', 800);

[class^="icon-"],
[class*="icon-"]  {
  &:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-family: 'icomoon';

    /* better font rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-downtriangle:before {
  content: "\e919";
}
.icon-bank:before {
  content: "\e900";
}
.icon-bitcoin:before {
  content: "\e901";
}
.icon-card:before {
  content: "\e902";
}
.icon-down_arrow:before {
  content: "\e903";
}
.icon-export:before {
  content: "\e904";
}
.icon-help:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-id:before {
  content: "\e907";
}
.icon-left_arrow:before {
  content: "\e908";
}
.icon-lock:before {
  content: "\e909";
}
.icon-mail .path1:before {
  content: "\e90a";
  color: rgb(0, 0, 0);
}
.icon-mail .path2:before {
  content: "\e90b";
  margin-left: -1.37890625em;
  color: rgb(255, 255, 255);
}
.icon-mobile:before {
  content: "\e90c";
}
.icon-present:before {
  content: "\e90d";
}
.icon-receive:before {
  content: "\e90e";
}
.icon-right_arrow:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-send:before {
  content: "\e911";
}
.icon-settings:before {
  content: "\e912";
}
.icon-success:before {
  content: "\e913";
}
.icon-trash:before {
  content: "\e914";
}
.icon-tx:before {
  content: "\e915";
}
.icon-up_arrow:before {
  content: "\e916";
}
.icon-user:before {
  content: "\e917";
}
.icon-wallet:before {
  content: "\e918";
}
