.pointer { cursor: pointer; }
.cursor-text { cursor: text; }
.pos-rel { position: relative; }
.pos-abs { position: absolute; }
.row { vertical-align: bottom; }
.row.spacing {
  height: 20px;
  background: transparent;
}
.margin-0-auto { margin: 0 auto; }
.z-10 { z-index: 10; }
.brdrn { border-radius: 0px !important; }
.lh1 { line-height: 1; }

.overflow-x { overflow-x: scroll; }
.overflow-y { overflow-y: scroll; }