.display-block { display: block; }
.display-inline-block { display: inline-block; }

.height-100 { height: 100%; }
.width-33 { width: 33.333%; }

@for $i from 1 through 20 {
  .width-#{$i*5} {
    width: percentage($i*5/100);
    @media (max-width: 991px) {
      width: auto;
    }
  }
}

@for $i from 1 through 20 {
  .width-#{$i*5}-tablet {
    @media (min-width: 768px) and (max-width: 991px) {
      width: percentage($i*5/100);
    }
  }
}

@for $i from 1 through 20 {
  .width-#{$i*5}-mobile {
    @media (max-width: 767px) {
      width: percentage($i*5/100);
    }
  }
}
