.f-52 { font-size: 52px; }
.f-48 { font-size: 48px; }
.f-36 { font-size: 36px; }
.f-32 { font-size: 32px; }
.f-28 { font-size: 28px; }
.f-24 { font-size: 24px; }
.f-20 { font-size: 20px; }
.f-18 { font-size: 18px; }
.f-16 { font-size: 16px; }
.f-14 { font-size: 14px; }
.f-12 { font-size: 12px; }
.f-10 { font-size: 10px; }
.f-8 { font-size: 8px; }

.main-font { font-family: 'Montserrat', 'Helvetica', sans-serif !important; }
.alt-font { font-family: 'GillSans', 'Helvetica', sans-serif !important; }
.underline { text-decoration: underline; &:hover { text-decoration: underline; } }
.right-align { text-align: right; }
.left-align { text-align: left; }
.center-align { text-align: center; }
.shadow { text-shadow: 0 1px 1px #ccc; }
.no-select { user-select: none; }
.break-word { word-break: break-word; }
.long-input { overflow-wrap: break-word; }
.colon:after { content: ':'; }
.period:after { content: '.';}
.exclaim:after { content: '!';}
.upper { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.italic { font-style: italic; }
.parens { &:before { content: '('; } &:after { content: ')'; } }
.ellipsis:after { content: '...'; }
.flip { transform: rotateY(180deg); }
