
.menu-left-link {
  position: relative;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;

  & > a {
    text-decoration: none;
    color: $basic-grey;
    text-align: center;
    line-height: 10px;

    &.active {
      color: $iris;
    }
  }

  & i {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px;
    width: 25px;
  }

  & span {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    outline: none !important;
  }
}