
.dropdown {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
  
  & .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    user-select: none; 
    padding: 0.5rem 1rem;  
    transition: all 0.2s ease-in-out;  
    background: white;
    border: 1px solid $gray-lighter;
    font-family: 'Montserrat', 'Helvetica', sans-serif !important;
    font-size: 0.9rem;
    font-weight: 300;
    color: $text;
    text-transform: capitalize;
    cursor: pointer;

    &:after {  
      width: 0;
      height: 0;
      margin-left: 0.3em;
      vertical-align: middle;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-left: 0.3em solid transparent;
    }
  }
  
  & .search {
    border: 1px solid $gray-lighter;
    font-size: 0.9rem;
    font-weight: normal;
    box-shadow: none;

    &:focus {
      @include border-radius(0);
      border: 1px solid $gray-lighter;
      outline: none;
    }
  }

  & .dropdown-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    order: 1;
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin-top: -1px;
    background-color: white;
    border: 1px solid $gray-lighter;
    z-index:100;

    &-closed {
      display: none;
    }
  }
}

