
.menu-left {
  flex: 0 0 270px;
  padding: 30px;
  width: 100%;
  min-height: 100%;
  background-color: $grey;
  border-right: 1px solid $border-grey;

  & ul {
    list-style:none;
    padding: 0;
  }
}
