 @mixin responsive-background-image($url...) {
   background-image: url($url);
   background-repeat: no-repeat;
   background-position: 50% 50%;
   @include background-size(cover);

    @include media-breakpoint-up(sm) { 
      background-position: 40% 40%;
    }
    @include media-breakpoint-up(md) { 
      background-position: 60% 60%; 
    }
    @include media-breakpoint-up(lg) {
      background-position: 80% 80%;
    }
    @include media-breakpoint-up(xl) {
      background-position: 80% 80%;
    }
}
