
 @mixin responsive-background-image($url...) {
   background-image: url($url);
   background-repeat: no-repeat;
   background-position: 10% 100%;
   @include background-size(cover);
   height: 550px;
   width: 100%;

   @media only screen and (min-width: $grid_breakpoint_sm * 1px) {
     background-position: 100% 60%;
   }
   @media only screen and (min-width: $grid_breakpoint_md * 1px) {
     height: 600px;
   }
   @media only screen and (min-width: $grid_breakpoint_lg * 1px) {
     height: 800px;
   }
   @media only screen and (min-width: $grid_breakpoint_xl * 1px) {
     background-position: 100% 100%;
     height: 1000px;
   }
}