@mixin container-centered() {
  width: 1170px;
  margin: auto;

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
    width: 1000px;
  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
    width: 800px;
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    width: 700px;
  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {
    width: 100%;
  }

  /* Custom, iPhone Retina */
  @media only screen and (max-width : 320px) {
    width: 100%;
  }
}
