@import "~bootstrap/scss/mixins/breakpoints";

.login {
  padding: 40px;
  @include box-sizing(border-box);
  background-color: #FFFFFF;
}


@include media-breakpoint-up(xs) { }
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { 
  .login {
    width: 550px;
  }
}
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
