
.login {
  height: 100%;
}

.login-box {
  @include box-sizing(border-box);
  padding: 35px 40px 30px 40px;
  width: 550px;
  max-height: 600px;
  @include box-shadow(0 0 20px -8px black);
  background-color: #FFFFFF;
}

.separator {
  border-bottom: 1px solid #F0ECEC;
  margin: 10px 0 20px 0;
}
