
.sub-menu-left-link {
  margin-bottom: 8px;
}

.link {
  padding: 0px;
  text-transform: none;
  color: $basic-grey;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

.linkActive {
  color: $iris;
}
