
@import 'assets/sass/elements/button.scss';
@import 'assets/sass/elements/grid.scss';
@import 'assets/sass/elements/link.scss';
@import 'assets/sass/elements/textbox.scss';

@import 'assets/sass/utilities/fonts.scss';
@import 'assets/sass/utilities/typography.scss';


html, body {
  position: relative;
  font-family: 'Montserrat', 'Helvetica', sans-serif !important;
  font-size: 13px;
  font-weight: 300;
  background-color: $bc-blue;
  color: #5F5F5F;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#app {
  height: 100%;
  width: 100%;
}
