html, body {
  font-family: 'Montserrat', 'Helvetica', sans-serif !important;
  background-color: #FFFFFF;
  position: relative;
  font-size: small;
  font-weight: 300;
  color: #5F5F5F;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  & > div {
    height: 100%;
    width: 100%;
  }
}
