
@import 'assets/sass/bootstrap-blockchain';

$blockchain_fonts_path: '../node_modules/blockchain-css/fonts';
@import 'assets/sass/blockchain-css';

@import 'assets/sass/utilities/colors';
@import 'assets/sass/utilities/mixins';

html, body {
  font-family: 'Montserrat', 'Helvetica', sans-serif !important;
  background-color: #fff;
  position: relative;
  font-size: small;
  font-weight: 300;
  color: #5f5f5f;
  height: 100%;
  width: 100%;

  & .row-no-padding {
    [class*="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}