
.dropdown-opened {
  width: 100px;
  background-color: $iris;
}

.dropdown-closed {
  width: 100px;
}

.menu-opened {
  @include box-sizing(border-box);
  position: absolute;
  width: 160px;
  margin-left: -60px;
  margin-top: 3px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);;
  @include border-radius(0 0 5px 5px)
}

.menu-closed {
  display: none;
}
