
.dropdown-opened {
  background-color: $iris;
}

.dropdown-closed {
}

.menu-opened {
  position: absolute;
  display: block;
  background-color: #FFFFFF;
  border: 1px solid black;
}

.menu-closed {
  display: none;
}
