
%button-base {
  height: 40px;
  padding: 10px 15px;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: normal;
  @include border-radius(3px);
  @include transition(all .2s ease-in-out);
  @include box-sizing(border-box);
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &.full-width {
    width: 100%;
  }

  &.heavy {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

@mixin button($name, $background:white, $color:white) {

  .button-#{$name} {
    @extend %button-base;
    background: $background;
    color: $color;

    &:hover {
      background: darken($background, 5%);
      color: $color;
    }

    &:visited {
      color: $color;
    }

    &:disabled {
      &:hover {
        background: $background;
        opacity: .6;
      }
    }

    &:focus {
      color: $color;
    }

    &.active {
      background: darken($background, 5%);
      box-shadow: inset 0 2px 4px 0 darken($background, 10%);
    }
  }
}

@include button('primary', $brand-primary, white);
@include button('secondary', $teal, white);
@include button('received', $brand-green-alt, white);
@include button('sent', $brand-red-alt, white);
@include button('transferred', $brand-blue-alt, white);


.button-empty {
  @extend %button-base;
  height: 35px;
  padding: 0 15px;
  font-size: 14px;
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #E0E0E0;

  &.left {
    @include border-top-right-radius(0);
    @include border-bottom-right-radius(0);
  }

  &.right {
    border-left: 0;
    @include border-top-left-radius(0);
    @include border-bottom-left-radius(0);
  }

  &:hover {
    background: darken(#FFFFFF, 5%);
    color: #000000;
  }
}
