
// Settings
$grid_cols: 12;

$map_grid_containers: (
  '540px': $grid_breakpoint_sm,
  '720px': $grid_breakpoint_md,
  '960px': $grid_breakpoint_lg,
  '1140px': $grid_breakpoint_xl
);

$map_grid_columns: (
  '': 0,
  'sm': $grid_breakpoint_sm,
  'md': $grid_breakpoint_md,
  'lg': $grid_breakpoint_lg,
  'xl': $grid_breakpoint_xl
);

@mixin create-container-classes($max_width, $breakpoint) {
  @include create-media-query($breakpoint) {
    .container {
      width: #{$max_width};
    }
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-media-query($breakpoint) {
    .col-#{$modifier}-offset-0 {
      margin-left: 0;
    }
    @for $i from 1 through $grid-cols {
      .col-#{$modifier}-#{$i} {
        @include flex-basis(#{(100 / ($grid-cols / $i) * 1%)});
      }
      .col-#{$modifier}-offset-#{$i} {
        margin-left: (100 / ($grid-cols / $i) ) * 1%;
      }
    }
  }
}

.container-fluid {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

@each $max_width, $breakpoint in $map_grid_containers {
  @include create-container-classes($max_width, $breakpoint);
}

.row {
  @include display-flex();
  width: 100%;
}

@each $modifier, $breakpoint in $map_grid_columns {
  @include create-col-classes($modifier, $grid_cols, $breakpoint);
}
