
.default {
  text-decoration: none;
  color: $iris;
  cursor: pointer;
}

.navigation {
  @include display-flex();
  @include flex-direction(row);
  @include align-items(center);
  height: 60px;
  padding: 0 15px;
  @include box-sizing(border-box);
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.navigation-uppercase {
  @include display-flex();
  @include flex-direction(row);
  @include align-items(center);
  height: 60px;
  padding: 0 15px;
  @include box-sizing(border-box);
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.navigation-sub {
  display: block;
  padding: 3px 20px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  @include box-sizing(border-box);
  
  &:hover {
    background-color: #EBEBEB;
  }
}
