
a {
  font-size: 0.8em;
  text-decoration: none;
  color: $iris;
  cursor: pointer;

  &:hover{
    text-decoration: none;
  }
}


.menu-item {
  padding: 5px 12px;
  @include box-sizing(border-box);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  color: $basic-grey;

  &.sub {
    text-transform: capitalize;
  }

  &.active {
    color: $iris;
  }

  & .icon {
    display: block;
    vertical-align: middle;
    font-size: 20px;
    width: 40px;
  }
}
