
input[type='text'], input[type='password'] {
  display: block;
  height: 40px;
  width: 100%;
  padding: 6px 12px;
  @include box-sizing(border-box);
  line-height: 1.4;
  font-size: 14px;
  color: #555555;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  @include box-shadow('inset 0 1px 1px rgba(0, 0, 0, 0.075');
  @include transition('border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s');
}
