
.public-layout {
  @include display-flex();
  @include flex-direction(column);
  @include align-content(stretch);
  @include justify-content(space-between);
  height: 100%;
  background-color: $bc-blue;
}

.header {
  @include flex(0 0 80px);
}

.content {
  @include display-flex();
  @include justify-content(center);
}

.footer {
  @include flex(0 0 80px);
}
