name: deploy-storybook

on:
  push:
    branches:
      - development

jobs:
  pull-request:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.16]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install node.js v${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

#     Non-working command
#      - name: Deploy storybook - base components
#        run: yarn storybook:base

      - name: Deploy storybook - wallet
        run: yarn storybook:deploy-wallet