// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';

// Resources
@import 'resources/bootstrap-settings.scss';
@import 'resources/image.scss';
@import 'resources/mixins.scss';

// Utilities
@import 'utilities/borders.scss';
@import 'utilities/fonts.scss';
@import 'utilities/general.scss';
@import 'utilities/opacity.scss';
@import 'utilities/spacing.scss';
@import 'utilities/typography.scss';

// Elements override
@import 'elements/button.scss';
@import 'elements/grid.scss';
@import 'elements/link.scss';
@import 'elements/textbox.scss';

// Components override
@import 'components/dropdown.scss';
@import 'components/navbar.scss';

html, body {
  @extend .main-font;
  position: relative;
  font-weight: 300;
  color: $text;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#app {
  height: 100%;
  width: 100%;
}

.scrollable {
  background-color: yellow;
  overflow-y: scroll;
}
