// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';

// Resources
@import 'resources/bootstrap-settings.scss';
@import 'resources/colors.scss';
@import 'resources/image.scss';
@import 'resources/mixins.scss';

// Utilities
@import 'utilities/borders.scss';
@import 'utilities/fonts.scss';
@import 'utilities/general.scss';
@import 'utilities/opacity.scss';
@import 'utilities/spacing.scss';
@import 'utilities/typography.scss';

// Elements override
@import 'elements/button.scss';
@import 'elements/grid.scss';
@import 'elements/label.scss';
@import 'elements/link.scss';
@import 'elements/textbox.scss';

// Components override
@import 'components/navbar.scss';

html, body {
  position: relative;
  font-family: 'Montserrat', 'Helvetica', sans-serif !important;
  font-weight: 300;
  color: #5F5F5F;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#app {
  height: 100%;
  width: 100%;
}
