// Bootstrap
@import 'bootstrap/custom.scss';
@import '~bootstrap/scss/bootstrap.scss';

@import 'utilities/borders.scss';
@import 'utilities/fonts.scss';
@import 'utilities/general.scss';
@import 'utilities/layout.scss';
@import 'utilities/opacity.scss';
@import 'utilities/spacing.scss';
@import 'utilities/typography.scss';

@import 'elements/button.scss';
@import 'elements/link.scss';
@import 'elements/textbox.scss';


html, body {
  position: relative;
  font-family: 'Montserrat', 'Helvetica', sans-serif !important;
  font-size: 13px;
  font-weight: 300;
  color: #5F5F5F;
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

div#app {
  min-height: 100%;
  height: 100%;
  width: 100%;
}
